<div class="w-100 d-flex flex-column align-items-center" style="margin-top: 80px;">
    <p class="font-weight-light text-muted">Desenvolvido por Júlia Adão e João Gohr</p>
    <p class="font-weight-light text-muted">Coordenadas geográficas obtidas em <a href="https://pt.db-city.com/">DBCity.com</a></p>
</div>