<div class="w-100 d-flex justify-content-center" style="margin-top: 80px;">
    <span class="font-weight-light text-muted">Desenvolvido por Júlia Adão e João Gohr</span>
    <br />
    <span class="font-weight-light text-muted">Coordenadas geográficas obtidas em <a href="https://pt.db-city.com/">DBCity.com</a></span>
</div>